.article__substainableSun {
  display: grid;
  grid-row: 2 / span 2;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  margin: 20px auto;
  background-color: $article-backgroundColor;
  box-shadow: $box-shadow;
  @media (min-width: 1200px) {
    grid-template-rows: 1fr 2fr;
    padding: 45px;
    margin: 0px auto;
  }

  &__img {
    background-image: url(../projekt-bilder/page-1/solar.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-in 2000ms;
    animation: rotatePlanet 200s infinite linear;
    @media (min-width: 400px) {
      background-size: 50%;
      animation: none;
    }
    @media (min-width: 680px) {
      background-size: 40%;
    }
    @media (min-width: 760px) {
      background-size: 20%;
    }
    @media (min-width: 1000px) {
      background-size: 10%;
    }
    @media (min-width: 1200px) {
      background-size: 70%;
    }
  }

  &__textbox {
    padding-top: 0px;
    @media (min-width: 1200px) {
      padding-top: 20px;
    }
  }
}

@keyframes rotatePlanet {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
