$main-backgroundColor: #f1f1f1;
$article-backgroundColor: #ffffff;
$paragraphsSize-bigScreen: 16px;
$paragraphsSize-smallScreen: 14px;
$paragraph-fontColor: #323232;
$heading-fontColor: #e32700;
$oneMars-fontStyle: "Montserrat";
$box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
$orange: #e32700;
$white: #ffffff;
$navy-blue: #2c4f80;
$footer-bg-color: #2c4f80;
$navigation-bg-color: #061b38;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
